/* You can add global styles to this file, and also import other style files */
@import 'material-overrides.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "neue-haas-grotesk", sans-serif;
}